* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
}

.slider-container {
  width: 600px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slider {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slider img {
  width: 600px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
button {
  position: absolute;
  top: 50%;
  background-color: transparent;
  /* color: white; */
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
  transform: translateY(-50%);
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:hover {
  background-color: rgba(35, 33, 33, 0.8);
}

